body {
  margin: 0;
  background-color: black;
  overflow: hidden;
  height: 100vh;
}

.snake-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.snake-image {
  position: absolute;
  width: 50px;
  height: 50px;
  transform-origin: center;
}
